doctype Html
Html
  head
    meta(charset='utf-8')
    //주석처리 이것은 보인다.
    //-주석처리 이것은 안보인다.
    title= tl
    //-  = 변수 , #{변수} title#{t1}
  body
  h1 menu
  h2 select
  h3 최고
  
  ol
    -for (var i=0;i<10;i++)
      li Coffee
  ol  
    -for (var i=0;i<3;i++)
      li Tea
      li Milk
  ul
    h1 
    li Coffee
     ul
      li Tea
      li Milk
